<!DOCTYPE html>
<html
        xmlns:th="httP://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/shop/layouts/shoplayouts}">

<head>
    <title>shop - orderproduct</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/shop/order-assets/products-assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="/shop/order-assets/products-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/shop/order-assets/products-assets/css/templatemo.css">
    <link rel="stylesheet" href="/shop/order-assets/products-assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/shop/order-assets/products-assets/css/fontawesome.min.css">

</head>

<body>

<!-- Start Content -->
<div layout:fragment="content">
    <h1>장바구니</h1>
    <script>
        window.onload = function() {
            // flash message를 확인하고 알림을 띄우기
            let message = '[[${message}]]';
            if (message) {
                alert(message);
            }
        }
    </script>

    <table id="cart">
    <label>상품번호: </label><input type="text" name="productNo"><br>
        <tr>
            <th>상품번호</th>
            <th>옵션번호</th>
            <th>주문수량</th>
            <th>주문가격</th>
        </tr>
        <tr th:each="product : ${ productlist }">
            <td th:text="${ product.productNo }"></td>
            <td th:text="${ product.productOptionNo }"></td>
            <td th:text="${ product.detailOrderAmount }"></td>
            <td th:text="${ product.productPrice }"></td>
        </tr>
    </table>
    <label>상품번호: </label><input type="text" name="productNo"><br>

</div>
<!-- Start Script -->
<script src="/shop/order-assets/products-assets/js/jquery-1.11.0.min.js"></script>
<script src="/shop/order-assets/products-assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/shop/order-assets/products-assets/js/bootstrap.bundle.min.js"></script>
<script src="/shop/order-assets/products-assets/js/templatemo.js"></script>
<script src="/shop/order-assets/products-assets/js/custom.js"></script>
<!-- End Script -->


</body>
</html>