<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/admin/layouts/navlayout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
<!-- Content wrapper -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-2">게시글 수정</h4>
        <form th:action="@{/board/submitEdit}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="postNo" th:value="${post.postNo}">
            <input type="hidden" name="boardNo" th:value="${post.boardNo}">
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${post.postTitle}">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" name="content" rows="5" th:text="${post.postContent}"></textarea>
            </div>
            <div class="mb-3">
                <label for="isPublic" class="form-label">공개 여부</label>
                <select class="form-control" id="isPublic" name="isPublic">
                    <option th:value="true" th:text="'공개'" th:selected="${post.isPublic}"></option>
                    <option th:value="false" th:text="'비공개'" th:selected="!${post.isPublic}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="userNo" class="form-label">작성자 번호</label>
                <input type="number" class="form-control" id="userNo" name="userNo" th:value="${post.userNo}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">기존 이미지</label>
                <div th:each="image : ${postImages}">
                    <img th:src="@{/uploads/{imageName}(imageName=${image.postImageStoredFileName})}" alt="Post Image" class="img-fluid" style="max-width: 200px;"/>
                </div>
                <div>
                    <input type="radio" id="keepImages" name="deleteImages" value="keep" checked>
                    <label for="keepImages">이미지 유지</label>
                    <input type="radio" id="deleteImages" name="deleteImages" value="delete">
                    <label for="deleteImages">이미지 삭제</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">새 이미지 업로드</label>
                <input type="file" class="form-control" id="image" name="image">
            </div>
            <button type="submit" class="btn btn-primary">수정</button>
        </form>
    </div>
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</body>
</html>
