<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.techmya.admin.stock.model.dao.StockMapper">
    <resultMap id="stockResultMap" type="com.ohgiraffers.techmya.admin.stock.model.dto.outputStockDTO">
        <id property="stockNo" column="stock_no"/>
        <result property="productNo" column="product_no"/>
        <result property="productName" column="product_name"/>
        <result property="productOptionNo" column="product_option_no"/>
        <result property="productOption" column="product_option_name"/>
        <result property="stockQuantity" column="stock_quantity"/>
        <result property="productStatus" column="product_status"/>
    </resultMap>

    <resultMap id="InstockResultMap" type="com.ohgiraffers.techmya.admin.stock.model.dto.InWHDTO">
        <id property="inNo" column="in_no"/>
        <result property="productName" column="product_name"/>
        <result property="productOption" column="product_option_name"/>
        <result property="inQuantity" column="in_quantity"/>
        <result property="inDate" column="in_date"/>
    </resultMap>

    <select id="searchStock" resultMap="stockResultMap">
        SELECT
            q.stock_no stock_no,
            q.product_no product_no,
            q.product_name product_name,
            IFNULL(c.product_option_no,'없음') product_option_no,
            IFNULL(c.product_option_name,'없음') product_option_name,
            q.stock_quantity stock_quantity,
            d.product_status product_status
        FROM (
        SELECT
            a.product_no,
            a.stock_quantity,
            a.stock_no,
            b.product_name,
            a.product_option_no
        FROM stock a
        LEFT JOIN product b
            ON a.product_no = b.product_no
        ) q
        left JOIN product_option c
        ON q.product_option_no = c.product_option_no
        left JOIN product_post d
        ON q.product_no = d.product_no
            WHERE q.product_name like CONCAT('%', #{ searchInfo }, '%')
        ORDER BY stock_no
    </select>

    <select id="searchOpt">
        SELECT product_option_no
        FROM product_option
        WHERE product_option_name = #{ option }
    </select>

    <select id="checkOption" resultType="Integer">
        SELECT
        product_option_no
        FROM product a
        JOIN product_option b
        ON a.product_no = b.product_no
        WHERE product_option_name = #{ option }
    </select>

    <insert id="inputStock" parameterType="_int">
        INSERT INTO stock (stock_quantity, product_no, product_option_no) VALUES ( #{amount} , #{ number }, #{ optionNo })
    </insert>

    <insert id="inputStock2">
        INSERT INTO stock (stock_quantity, product_no) VALUES ( #{amount} , #{ num } )
    </insert>


    <select id="findInstock" resultMap="InstockResultMap">
        SELECT
            in_no,
            product_name,
            product_option_name,
            in_quantity,
            DATE_FORMAT(in_date, '%Y-%m-%d') in_date
        FROM (
        SELECT
            a.in_no, a.in_quantity, a.in_date,
            d.product_name, q.product_option_name
        FROM in_warehouse a
            LEFT JOIN stock b
                ON a.stock_no = b.stock_no
            JOIN product d
                ON b.product_no = d.product_no
            JOIN product_option q
                ON b.product_option_no = q.product_option_no)t
    </select>
</mapper>