<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>layout-menu</title>
</head>
<body>
    <aside th:fragment="menuFragment" id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo">
            <a href="/admin/main" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="/shop/assets/images/techmya-logo.png" height="20">
              </span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
        </div>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
            <!-- Member -->
            <li class="menu-item active">
                <a href="/admin/main" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-crown"></i>
                    <div data-i18n="Member">Member</div>
                </a>
            </li>

            <!-- Order -->
            <li class="menu-item">
                <a href="/admin/order" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-cart-alt"></i>
                    <div data-i18n="Order">Order</div>
                </a>
            </li>

            <!-- Product -->
            <li class="menu-item">
                <a href="#Prodcut" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-purchase-tag"></i>
                    <div data-i18n="Product">Product</div>
                </a>
            </li>

            <!-- Stock -->
            <li class="menu-item">
                <a href="#Stock" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-package"></i>
                    <div data-i18n="Stock">Stock</div>
                </a>
            </li>

            <!-- Board -->
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-comment-dots"></i>
                    <div data-i18n="chat">Board</div>
                </a>

                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="#Notice" class="menu-link">
                            <div data-i18n="Without menu">Notice and Questions</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#FAQ" class="menu-link">
                            <div data-i18n="Without navbar">FAQ</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</body>
</html>