<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>TECHMYA OUT MANAGE</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/stock/assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/stock/css/styles.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper" align="center">
    <div class="sidebar-heading border-bottom bg-light">TECHMYA-CAT</div>
    <div class="list-group list-group-flush ">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Order Manage</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Sell Product</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" id="stockMenu" href="/stock/stockmain">Stock Manage</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3 menubar" href="/stock/stockmanage">> Stock</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3 menubar" href="/stock/inmanage">> In Warehousing</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3 menubar" id="outManage" href="/stock/outmanage">> Out Warehousing</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Member Dashboard</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Board</a>
    </div>
  </div>

  <!-- Page content wrapper-->
  <div id="page-content-wrapper" th:fragment="commontopbar">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button> <h1 id="techName">TECHMYA-CAT 재고 출고 메뉴</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#!">Action</a>
                <a class="dropdown-item" href="#!">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#!">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <!-- Page content-->
  </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/stock/js/scripts.js"></script>
</body>
</html>
